Repository prgrms-web-devcourse-final-project/WEB1_1_PETMATZ_FE, pull requests merged in 2024-12, with the labels that each got.

#109 [Feat] 동물 등록 기능 구현 - step4
  public/data/sosList.json
  src/components/common/DogSelector.tsx
  src/components/common/MultiSelectTag.tsx
  src/components/register/RadioOption.tsx
  src/components/register/RegisterComplete.tsx
  src/components/register/RegisterStep1.tsx
  src/components/register/RegisterStep2.tsx
  src/components/register/RegisterStep3.tsx
  src/components/register/RegisterStep4.tsx
  src/components/register/index.ts
  src/hooks/api/register.ts
  src/hooks/index.ts
  src/pages/Register.tsx
  src/types/Sos.d.ts
  src/types/register.d.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#112 [Fix] 프로필 페이지 api 요청 수정 및 에러 처리
  package-lock.json
  src/components/login/Success.tsx
  src/components/signup/FourthStep.tsx
  src/hooks/api/profile.ts
  src/hooks/useSignupForm.ts
  src/pages/Profile.tsx
  src/pages/Signup.tsx
  src/types/user.d.ts
Labels: ✨ Feature, 📬 API

#114 [Feat] 임시 비밀번호 발급 api 연동
  src/hooks/api/password.ts
  src/hooks/useForgotPasswordForm.ts
  src/hooks/useSignupForm.ts
  src/pages/ForgotPassword.tsx
  src/types/password.d.ts
Labels: 📬 API

#118 [Feat] 비밀번호 변경 api 연동
  src/components/change-password/Success.tsx
  src/hooks/api/password.ts
  src/hooks/useChangePasswordForm.ts
  src/hooks/useForgotPasswordForm.ts
  src/hooks/useLoginForm.ts
  src/hooks/useSignupForm.ts
  src/pages/ChangePassword.tsx
  src/router.tsx
  src/types/password.d.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#117 [Feat] 강아지 정보 공통컴포넌트 작성
  src/assets/images/gender/female.svg
  src/assets/images/gender/male.svg
  src/components/common/DogCard.tsx
  src/components/common/index.ts
  src/hooks/api/dogInfo.ts
  src/hooks/useDogInfo.ts
  src/hooks/useLocation.ts
  src/pages/DogEdit.tsx
  src/pages/index.tsx
  src/router.tsx
  src/types/dogInfo.d.ts
Labels: ✨ Feature, 🎨 Html&css

#125 [Feat] 로그인 완료 페이지 데이터 fetching
  src/components/login/Success.tsx
  src/hooks/useLoginForm.ts
Labels: ✨ Feature

#128 [Bug] 회원가입 이메일 인증코드 요청 실패시 토스트 버그
  src/components/common/CustomToast.tsx
  src/components/signup/FirstStep.tsx
  src/hooks/useSignupForm.ts
  src/pages/Signup.tsx
Labels: 🐞 BugFix

#129 [Fix] 채팅 기능 오류 수정
  src/components/chat-detail/LeftBubble.tsx
  src/components/chat-detail/RightBubble.tsx
  src/pages/ChatDetail.tsx
  src/stores/useChatStore.ts
Labels: 🐞 BugFix

#131 [Feat] 회원 탈퇴 페이지 수정 및 api 연동
  src/assets/images/delete-account/garbage.svg
  src/components/delete-account/Success.tsx
  src/components/delete-account/index.ts
  src/hooks/api/deleteAccount.ts
  src/hooks/index.ts
  src/hooks/useDeleteAccountForm.ts
  src/pages/DeleteAccount.tsx
  src/types/deleteAccount.d.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#132 [Fix] 채팅 기능 오류 수정 및 추가 기능 구현
  src/assets/images/chat/trashCan.svg
  src/assets/images/dogs/dogCry.svg
  src/components/chat-detail/ChatDetailTitle.tsx
  src/components/chat-detail/ChatNewMessage.tsx
  src/components/chat-detail/index.ts
  src/components/chat/ChatRoom.tsx
  src/components/match/MatchCard.tsx
  src/components/match/NoMoreCard.tsx
  src/hooks/api/Chat.ts
  src/hooks/api/base.ts
  src/pages/ChatDetail.tsx
  src/pages/Match.tsx
  src/stores/useChatStore.ts
  src/stores/useMatchStore.ts
  src/types/chat.d.ts
  src/types/match.d.ts
Labels: 🐞 BugFix, 📬 API

#134 [Feat] 프로필 페이지 강아지 정보 리스트 조회 기능 추가 및 디자인 수정
  src/assets/images/arrow/arrowBig.svg
  src/assets/images/profile/heart.svg
  src/assets/images/profile/unheart.svg
  src/components/profile/DogList.tsx
  src/components/profile/Tag.tsx
  src/components/profile/index.ts
  src/hooks/api/dogInfo.ts
  src/pages/Profile.tsx
  src/types/dogInfo.d.ts
  tailwind.config.js
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#136 [Feat] 프로필 수정페이지 기능구현 및 api 연동
  src/assets/images/profile/loadingSpiner.svg
  src/components/common/edit-profile/LocationChange.tsx
  src/components/common/edit-profile/index.ts
  src/hooks/api/location.ts
  src/hooks/api/profile.ts
  src/pages/ProfileEdit.tsx
  src/pages/index.tsx
  src/router.tsx
  src/types/location.d.ts
  src/types/user.d.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#138 [Feat] s3 이미지 업로드 함수 작성
  src/hooks/api/base.ts
  src/hooks/api/imageUpload.ts
  src/types/imageUpload.d.ts
Labels: ✨ Feature, 📬 API

#142 [Feat] 공통 이미지 선택 컴포넌트 파일 저장 로직 추가
  src/components/common/ImageSelectBox.tsx
Labels: ✨ Feature

#143 [Feat] 부탁 상세조회 페이지 UI 퍼블리싱
  src/components/common/CustomToggle.tsx
  src/components/common/DogCard.tsx
  src/components/please/DogInformation.css
  src/components/please/DogInformation.tsx
  src/components/please/RequestList.tsx
  src/components/please/RequestListAccordion.tsx
  src/components/please/index.ts
  src/pages/PleaseDetail.tsx
  src/pages/index.tsx
  src/router.tsx
Labels: ✨ Feature, 🎨 Html&css

#144 [Feat] 부탁해 멍멍 등록페이지 작성
  package-lock.json
  package.json
  src/assets/images/common/x.svg
  src/components/chat-detail/ChatDetailTitle.tsx
  src/components/please/DateTimeSection.tsx
  src/components/please/DynamicInputFields.tsx
  src/components/please/MultiSelectBottomSheet.tsx
  src/components/please/TimeInput.tsx
  src/components/please/index.ts
  src/hooks/api/please.ts
  src/pages/PleaseWrite.tsx
  src/pages/index.tsx
  src/router.tsx
  src/stores/useMatchStore.ts
  src/types/please.d.ts
  src/utils/getFirstErrorMessage.ts
  src/utils/index.ts
Labels: ✨ Feature

#146 [Feat] 회원가입에 s3 이미지 업로드 함수 적용
  src/components/signup/ThirdStep.tsx
  src/hooks/useLoginForm.ts
  src/hooks/useSignupForm.ts
  src/pages/Signup.tsx
  src/types/signup.d.ts
Labels: ✨ Feature, 📬 API, 🔨 Refactor

#152 [Feat] 카카오로그인 구현
  src/components/edit-profile/LocationChange.tsx
  src/components/edit-profile/index.ts
  src/components/kakao/KakaoFourthStep.tsx
  src/components/kakao/KakaoThirdStep.tsx
  src/components/kakao/Success.tsx
  src/components/kakao/index.ts
  src/hooks/api/user.ts
  src/hooks/useKakaoForm.ts
  src/pages/Intro.tsx
  src/pages/KakaoLogin.tsx
  src/pages/KakaoSignup.tsx
  src/pages/ProfileEdit.tsx
  src/pages/index.tsx
  src/router.tsx
  src/types/kakao.d.ts
Labels: ✨ Feature, 📬 API

#153 [Feat] 부탁 상세조회 api 연동
  src/components/please/DogInformation.tsx
  src/components/please/RequestList.tsx
  src/components/please/RequestListAccordion.tsx
  src/hooks/api/please.ts
  src/hooks/index.ts
  src/hooks/usePetMissionInfo.ts
  src/pages/PleaseDetail.tsx
  src/types/please.d.ts
  src/utils/index.ts
  src/utils/please/formatDateandTime.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#155 [Feat] 동물등록시 s3 이미지 업로드 로직 적용
  src/components/register/RegisterComplete.tsx
  src/components/register/RegisterStep2.tsx
  src/hooks/api/register.ts
  src/pages/Register.tsx
  src/types/register.d.ts
Labels: 📬 API, 🔨 Refactor

#156 [Feat] Page Not Found 공통 페이지 컴포넌트 작성
  src/assets/images/foot-m.svg
  src/components/common/PageNotFound.tsx
  src/components/common/index.ts
  src/components/signup/FirstStep.tsx
  src/hooks/api/auth.ts
  src/hooks/useDeleteAccountForm.ts
  src/hooks/useForgotPasswordForm.ts
  src/hooks/useSignupForm.ts
  src/pages/Profile.tsx
Labels: ✨ Feature, 🎨 Html&css

#157 [Feat] SOS 디테일 페이지 구현 및 카카오 로그인 수정
  src/components/kakao/Success.tsx
  src/hooks/api/sos.ts
  src/hooks/useKakaoForm.ts
  src/pages/KakaoLogin.tsx
  src/pages/KakaoSignup.tsx
  src/pages/ProfileEdit.tsx
  src/pages/SOSDetail.tsx
  src/router.tsx
  src/types/Sos.d.ts
  src/types/user.d.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#160 [Feat] 인트로 페이지 슬라이더 skip 지정 및 카카로 회원가입 초기값 지정
  src/components/kakao/KakaoThirdStep.tsx
  src/components/kakao/Success.tsx
  src/hooks/useKakaoForm.ts
  src/pages/Intro.tsx
  src/pages/KakaoSignup.tsx
Labels: ✨ Feature, 🔨 Refactor

#161 [Feat] 도와줘 멍멍 페이지 작성 및 드랍다운 메뉴 작성
  src/assets/images/chat/report.svg
  src/assets/images/header/exit.svg
  src/assets/images/header/profile.svg
  src/assets/images/profile/heart.svg
  src/assets/images/sos/calender.svg
  src/assets/images/sos/dog.svg
  src/assets/images/sos/pencil.svg
  src/components/chat-detail/ChatDetailTitle.tsx
  src/components/chat/ChatRoom.tsx
  src/components/common/Dropdown.tsx
  src/components/sos/SOSCard.tsx
  src/components/sos/SOSNonContent.tsx
  src/components/sos/SOSTabMenu.tsx
  src/components/sos/index.ts
  src/constants/sos/index.ts
  src/hooks/api/sos.ts
  src/hooks/sos/index.ts
  src/hooks/sos/useFetchSOSList.ts
  src/layouts/Header.tsx
  src/pages/Chat.tsx
  src/pages/Match.tsx
  src/pages/SOS.tsx
  src/stores/useChatStore.ts
  src/types/Sos.d.ts
  src/utils/formatDateWithDay.ts
  src/utils/index.ts
Labels: 🐞 BugFix, ✨ Feature

#162 [Fix] Match 기능 오류 수정
  src/pages/Match.tsx
  src/stores/useMatchStore.ts
Labels: 🐞 BugFix

#163 [Feat] 돌봄 상태에 따른 렌더링 활성화/비활성화
  src/components/please/DogInformation.tsx
  src/components/please/RequestList.tsx
  src/components/please/RequestListAccordion.tsx
  src/pages/PleaseDetail.tsx
  src/types/please.d.ts
Labels: ✨ Feature, 🎨 Html&css

#166 [Feat] 찜한 돌봄이 리스트 페이지 구현
  src/assets/images/profile/unheart.svg
  src/components/common/PageNotFound.tsx
  src/components/like/LikedUser.tsx
  src/components/like/index.ts
  src/components/profile/DogList.tsx
  src/components/profile/Tag.tsx
  src/hooks/api/user.ts
  src/pages/Like.tsx
  src/pages/Profile.tsx
  src/pages/SOSDetail.tsx
  src/pages/index.tsx
  src/router.tsx
  src/types/user.d.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#167 [Feat] 부탁 미션 등록 api 연동 및 sos detail 일부 수정
  src/components/common/DogCard.tsx
  src/components/please/MissionRecordModal.tsx
  src/components/please/RequestListAccordion.tsx
  src/components/please/index.ts
  src/hooks/api/please.ts
  src/pages/SOSDetail.tsx
  src/types/please.d.ts
Labels: ✨ Feature, 📬 API

#170 [Feat] PWA 적용
  index.html
  package-lock.json
  package.json
  public/favicon.ico
  public/icons/icon-144px.png
  public/icons/icon-192px.png
  public/icons/icon-24px.png
  public/icons/icon-256px.png
  public/icons/icon-32px.png
  public/icons/icon-48px.png
  public/icons/icon-512px.png
  public/icons/icon-64px.png
  public/icons/icon-72px.png
  public/icons/icon-96px.png
  vite.config.ts
Labels: 🌏 Deploy

#171 [Feat] 부탁해 멍멍(미션) 리스트 페이지 작성
  src/assets/images/gender/female.svg
  src/assets/images/gender/male.svg
  src/assets/images/sos/letter.svg
  src/components/chat-detail/LeftBubble.tsx
  src/components/chat-detail/RightBubble.tsx
  src/components/common/DogCard.tsx
  src/components/common/TabMenu.tsx
  src/components/common/index.ts
  src/components/please/NonPlease.tsx
  src/components/please/PleaseCard.tsx
  src/components/please/PleaseTabMenu.tsx
  src/components/please/index.ts
  src/components/sos/SOSCard.tsx
  src/components/sos/SOSTabMenu.tsx
  src/components/sos/index.ts
  src/constants/please/index.ts
  src/constants/sos/index.ts
  src/hooks/api/please.ts
  src/hooks/please/index.ts
  src/hooks/please/useFetchPleaseList.ts
  src/pages/Chat.tsx
  src/pages/Please.tsx
  src/pages/SOS.tsx
  src/pages/SOSDetail.tsx
  src/types/Sos.d.ts
  src/types/please.d.ts
  src/utils/formatDateWithTime.ts
  src/utils/index.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#173 [Feat] 돌봄 등급 설명 모달 추가
  index.html
  public/favicon.ico
  public/favicons/favicon-32px.ico
  public/favicons/favicon-96px.ico
  src/assets/images/footCircle.svg
  src/assets/images/lvlInfoBtn.svg
  src/pages/Profile.tsx
  vite.config.ts
Labels: ✨ Feature, 🌏 Deploy, 🎨 Html&css

#175 Deploy/#174
  public/data/sosList.json
  src/components/match/IntroMatch.tsx
  src/components/profile/DogList.tsx
  src/hooks/api/base.ts
  src/hooks/useKakaoForm.ts
  src/pages/Chat.tsx
  src/pages/ProfileEdit.tsx
  src/pages/Register.tsx
  src/stores/useMatchStore.ts
  src/types/please.d.ts
Labels: 🌏 Deploy

#176 [Feat] 로그아웃 기능 작성
  .gitignore
  src/components/common/SelectBox.tsx
  src/hooks/api/auth.ts
  src/layouts/Header.tsx
Labels: ✨ Feature

#178 [Feat] 동물 프로필 수정 api 연동 및 기능구현
  src/components/common/DogCard.tsx
  src/hooks/api/dogInfo.ts
  src/pages/DogEdit.tsx
  src/pages/ProfileEdit.tsx
  src/router.tsx
  src/types/dogInfo.d.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#179 [Feat] 부탁 상세조회 상태에 따른 렌더링 적용
  src/components/please/DogInformation.tsx
  src/components/please/MissionRecordModal.tsx
  src/components/please/RequestList.tsx
  src/components/please/RequestListAccordion.tsx
  src/hooks/api/please.ts
  src/hooks/index.ts
  src/hooks/please/index.ts
  src/hooks/please/useMissionRecord.ts
  src/hooks/please/useMissionStatus.ts
  src/hooks/please/usePetMissionInfo.ts
  src/hooks/please/useTabState.ts
  src/hooks/usePetMissionInfo.ts
  src/pages/PleaseDetail.tsx
  src/stores/index.ts
  src/stores/usePleaseStore.ts
  src/types/please.d.ts
Labels: ✨ Feature, 📬 API

#181 [Refactor] 상태 변경 요청 필드 추가
  src/hooks/api/please.ts
  src/hooks/please/useMissionStatus.ts
  src/pages/PleaseDetail.tsx
  src/types/please.d.ts
Labels: 📬 API, 🔨 Refactor

#182 [Bug] 프로필 수정 페이지 이미지 업데이트 로직 수정
  src/hooks/api/base.ts
  src/hooks/api/user.ts
  src/pages/ProfileEdit.tsx
  src/types/user.d.ts
Labels: 🐞 BugFix, ✨ Feature, 📬 API

#184 [Style] 프로필 페이지 강아지 카드 데이터 Fetching 추가
  public/profile/profile1.svg
  public/profile/profile2.svg
  public/profile/profile3.svg
  src/components/common/ImageSelectBox.tsx
  src/components/profile/DogList.tsx
Labels: ✨ Feature, 🎨 Html&css

#187 [Bug] AuthGuard 컴포넌트 파일 이름 변경
  src/components/auth/AuthGuard.tsx
  src/components/auth/index.ts
Labels: 🐞 BugFix

#188 [Feat] 돌봄 추천 기능 및 UI 추가
  src/assets/images/thumb_up.svg
  src/components/please/DogInformation.tsx
  src/hooks/api/please.ts
  src/hooks/please/index.ts
  src/hooks/please/useRecommendation.ts
  src/pages/PleaseDetail.tsx
Labels: ✨ Feature, 📬 API

#189 [Style] 부탁 상세 DogCard UI 수정
  src/components/please/DogInformation.tsx
Labels: 🎨 Html&css

#191 [Feat] 랜딩페이지 구현
  src/assets/images/bottom-nav/home.svg
  src/assets/images/intro/dogFoot.svg
  src/assets/images/intro/helpDog.svg
  src/components/home/HomeHelpDog.tsx
  src/components/home/HomeLike.tsx
  src/components/home/HomeRanking.tsx
  src/components/home/HomeSOS.tsx
  src/components/home/HomeSchedule.tsx
  src/components/home/index.ts
  src/hooks/api/home.ts
  src/pages/Home.tsx
  src/pages/Ranking.tsx
  src/types/home.d.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#192 [Feat] 프로필 수정 페이지 비밀번호 변경 페이지 버튼 추가
  src/pages/ProfileEdit.tsx
Labels: ✨ Feature, 🎨 Html&css

#195 [Fix] 매칭 기능 JWT 도입으로 파라미터 삭제
  src/hooks/api/match.ts
  src/pages/Match.tsx
  src/stores/useMatchStore.ts
  src/types/match.d.ts
Labels: 🐞 BugFix

#197 [Bug] 랜딩페이지 미션 없을시 토글버튼 비활성화 적용
  src/components/home/HomeHelpDog.tsx
Labels: 🐞 BugFix

#199 [Refactor] 찜하기 버튼 낙관적 UI 적용
  src/components/like/LikedUser.tsx
  src/components/profile/DogList.tsx
  src/pages/Profile.tsx
Labels: 🎨 Html&css, 🔨 Refactor
